@media (max-width:1139px){
    .fashion__item,
    .catalog__item{
        width: calc((100% - 90px) / 4);
    }
    .fashion__item img{
        width: 100%;
    }
    .catalog__product-bg{
        width: 100%;
    }
}

@media (max-width:991.98px){
    .header__nav .container{
        flex-direction: column;
        gap: 15px;
      }
      .header{
        padding: 20px 0 ;
      }
      .fashion__row,
      .catalog__row,
      .footer__row{
        flex-wrap: wrap;
        gap: 30px;
      }
      .fashion__item,
      .catalog__item{
        width: calc((100% - 30px) / 2);
      }
      .footer__row{
        justify-content: center;
      }

}

@media (max-width:767.98px){

#menu-bar{
  display: block;
position: relative
}

.header__nav .container{
  display: flex;
flex-direction: row-reverse;
}

.header__nav .container .header__list{
  position: absolute;
  top: 100px;
  right: 20px;
  flex-direction: column;
  width: 300px;
  background-color:#fff;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.header__nav .container .header__list li{
padding:5px 15px ;
border-bottom: 1px solid black;
}


.header__nav .container .header__list.activee{
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
}

@media (max-width:575.98px){
    .header__list{
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }
    .intro__title{
        font-size: 30px;
        padding: 17px 40px;
    }
    .header__form{
      display: none;
    }

.fashion__row,
.catalog__row{
   flex-direction: column;
}
.fashion__item,
.catalog__item{
    width: 100%;
}
.footer__col{
    width: calc((100% -30px ) / 2);
    max-width:none ;
}
.footer__socials{
    grid-area: 15px;
    justify-content: center;
}

  }
  @media (max-width:400px){
  .footer__row{
    flex-direction:column ;
  }
  .title{
    font-size: 35px;
  }
  }
  

  